extends index

block userContent
    .container-fluid.p-5
        h1.text-center Mostrar Usuario
    table.table.table-striped.mt-4
        thead 
            tr 
                th ID
                th Nombre 
                th Apellido 
                th Correo 
                th Telefono 
                th Contraseña
                th Rol
        tbody 
            tr
                td #{correo.id}
                td #{correo.nombre}
                td #{correo.apellido}
                td #{correo.correo}
                td #{correo.telefono}
                td #{correo.contrasena}
                td #{correo.rol}

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")